@use "base/variables" as v;
@use "base/mixins" as m;
@use 'sass:color';

.tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    button{
        background-color: v.$dorado;
        border: none;
        color: v.$blanco;
        padding: 1rem;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        transition: background-color 300ms ease;
        p{
            font-size: 1rem;
        }
        &:hover{
            cursor: pointer;
            background-color: color.adjust(v.$dorado, $lightness: -10%);
        }
        &.actual{
            background-color: v.$blanco;
            p{
                color: v.$dorado;
            }
        }
    }
}