@use "base/variables" as v;
@use "base/mixins" as m;
@use 'sass:color';
@use "sass:math";

.contenedor-servicio{
    padding: 0;
    border-bottom: 1px solid v.$gris;
    &:last-of-type{
        margin-bottom: math.div(v.$separacion, 4) 0;
    }
}

.swal2-popup.swal2-modal.swal2-icon-success.swal2-show{
    b{
        color: v.$negro;
    }
    span{
        color: v.$dorado;
    }
}

.swal2-confirm .swal2-styled{
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    background-color: #007bff;
    &:hover {
        background-color: #0056b3;
    }
}